extends layout

block content
  h1 This is the exam page.

  table
    tr
      th Date
      th Scheme
      th Interval
      th Start
      th End
    each val in data
      tr
        th= val.date
        th= val.scheme
        th= val.interval + ' min.'
        th= val.start
        th= val.end
